.box-container {
  text-align: center;
  
  .game-results{
    display: flex;
    justify-content: space-around;

    .five-numbers{
      .number-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    
        .box-num{
          align-self: center;
          background-color: #fed102;
          width: 55px;
          border: 2px #473c0b38 solid;
          margin: 0 2px;
          border-radius: 50%;
          border: none;
        
          .win-num {
            color: white;
            font-weight: 900;
          }
        }
    
      }

    }
    .mega {
        margin-right: 10px;
        
       .box-num{
          align-self: center;
          background-color: #ff5200;
          width: 55px;
          border: 2px rgba(71, 60, 11, 0.22) solid;
          margin: 0 2px;
          border-radius: 50%;
          // border: none;
        
        
          .win-num {
            color: white;
            font-weight: 900;
          }
        }
    }
  }

  .box-button {
    padding-top: 25px;
    button {
      background-color: #02a5e3; ;
      border: none;
      color: #fff;
      border-radius: 4%;
      padding: 10px;
      outline: none;
      font-weight: 900;

    }
    button:hover {
      background-color: #016990
    }
    button:active {
      box-shadow: 1px 1px 5px lightgray, -1px -1px 5px lightgray;;
      transform:scale(0.9);
      color: lightgray;
    }
  }
}

// @media (min-width: 768px) {
//   .box-container{
//     .number-container{

//       .box-num{
//           align-self: center;
//           background-color: red;
//           width: 80px;    
//           border: 2px #fed102 solid;
//     }
//     }
//   }
// }