.box-container {
  text-align: center;
  

  .number-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

    .box-num{
      align-self: center;
      background-color: #f6911e;
      width: 40px;    
      border: 2px #fed102 solid;
    
    
      .win-num {
        color: #02a5e3;
        font-weight: 900;
      }
    }

  }
}