* {
  box-sizing: border-box;
   margin: 0 ;
    padding: 0 ;
}
body {
  /* background-color: rgb(246, 145, 30); */
}

h1 {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  color: #e89515;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
    1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
    3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc,
    5px 6px 1px #eee, 7px 6px 1px #ccc;
}

p {
  font-family: 'Kaushan Script', cursive;
  color: white;
}
@media (min-width: 768px) {
  h1{
    font-size: 4rem;
  }
}